# Data Analysis - Section1

## 1. Import Libraries

In [2]:
import numpy as np
import pandas as pd

## 2. Read Data set

In [3]:
df = pd.read_csv('movie.csv')

In [4]:
df.head()

,title,year,color,content_rating,duration,director_name,director_fb,actor1,actor1_fb,actor2,...,actor3_fb,gross,genres,num_reviews,num_voted_users,plot_keywords,language,country,budget,imdb_score
0,Avatar,2009.0,Color,PG-13,178.0,James Cameron,0.0,CCH Pounder,1000.0,Joel David Moore,...,855.0,760505847.0,Action|Adventure|Fantasy|Sci-Fi,723.0,886204,avatar|future|marine|native|paraplegic,English,USA,237000000.0,7.9
1,Pirates of the Caribbean: At World's End,2007.0,Color,PG-13,169.0,Gore Verbinski,563.0,Johnny Depp,40000.0,Orlando Bloom,...,1000.0,309404152.0,Action|Adventure|Fantasy,302.0,471220,goddess|marriage ceremony|marriage proposal|pi...,English,USA,300000000.0,7.1
2,Spectre,2015.0,Color,PG-13,148.0,Sam Mendes,0.0,Christoph Waltz,11000.0,Rory Kinnear,...,161.0,200074175.0,Action|Adventure|Thriller,602.0,275868,bomb|espionage|sequel|spy|terrorist,English,UK,245000000.0,6.8
3,The Dark Knight Rises,2012.0,Color,PG-13,164.0,Christopher Nolan,22000.0,Tom Hardy,27000.0,Christian Bale,...,23000.0,448130642.0,Action|Thriller,813.0,1144337,deception|imprisonment|lawlessness|police offi...,English,USA,250000000.0,8.5
4,Star Wars: Episode VII - The Force Awakens,NaN,NaN,NaN,NaN,Doug Walker,131.0,Doug Walker,131.0,Rob Walker,...,NaN,NaN,Documentary,NaN,8,NaN,NaN,NaN,NaN,7.1

In [5]:
df.head(1)

,title,year,color,content_rating,duration,director_name,director_fb,actor1,actor1_fb,actor2,...,actor3_fb,gross,genres,num_reviews,num_voted_users,plot_keywords,language,country,budget,imdb_score
0,Avatar,2009.0,Color,PG-13,178.0,James Cameron,0.0,CCH Pounder,1000.0,Joel David Moore,...,855.0,760505847.0,Action|Adventure|Fantasy|Sci-Fi,723.0,886204,avatar|future|marine|native|paraplegic,English,USA,237000000.0,7.9

In [ ]:
df.tail()

In [ ]:
DF= df.set_index('title')
DF.head(1)

## 3. Explore Data

In [ ]:
df.columns

In [ ]:
df.index

In [ ]:
df.values

In [ ]:
df.info

In [ ]:
df.describe

In [ ]:
df.size

In [ ]:
df.shape

In [ ]:
len(df)

In [ ]:
df.set_index('title')

In [ ]:
#Is index changed?
df.head()

## 4. Data selection
**We could select a slice of the data as:**
1. Column(s).
2. Row(s)
3. Column(s) and Row(s)

**Based on:**
1. Column/Row Name
2. Column/Row Number
3. Row with Condition(s)

### 4.1 Selection Based on Column/Row Name

In [ ]:
df.loc[:,:]

In [ ]:
df1= df.loc[0:4, ['title', 'duration']]
df1.head(1)
len(df1)

In [ ]:
df1

In [ ]:
df1= df.loc[:, ['title', 'duration']]
df1.head()

In [14]:
len(df)

4916

In [ ]:
df['actor1']

In [ ]:
df.actor1

### 4.2 Selection Based on Column/Row Number

In [ ]:
df.iloc[:,:]

In [ ]:
df_by_number= df.iloc[0:4, [0,5]]
df_by_number.head(1)

In [ ]:
len(df_by_number)

### 4.3 Selection Based on Row Condition

In [ ]:
condition = df['country'] == 'USA'
condition2= df['country'] == 'UK'
df2= df[condition | condition2]
df2.head()

In [ ]:
len(df2)

In [ ]:
#df['country'].value_counts()
cond= df['country'].isin(['USA','UK'])
df['IsinUSAorUK']= df['country'].isin(['USA','UK'])
df3= df[cond]
len(df3)

In [ ]:
df['country'].value_counts()

## 5. Intro about statistics dataset

In [ ]:
df.describe()

In [ ]:
df['year'].min()

In [ ]:
df['year'].max()

In [ ]:
df['budget'].mean()

In [ ]:
df['budget'].median()

In [ ]:
df['budget'].sum()

In [ ]:
df['title'].count()

In [ ]:
df['country'].mode()
df['country'].value_counts()

## 6. Visualization

In [ ]:
#plotting data 
%matplotlib inline
import matplotlib.pyplot as plt

In [ ]:
df['duration'].plot(kind='bar')

In [ ]:
df= df[df['language'].isin(['French' , 'Spanish' , 'Hindi' , 'Arabic'])]
df['language'].value_counts()
df['language'].value_counts().plot(kind='bar')

In [ ]:

df['duration'].plot(kind='hist')

In [ ]:
df= df[df['language'].isin(['French' , 'Spanish' , 'Hindi' , 'Arabic'])]
df['language'].value_counts()

In [ ]:

df['language'].value_counts().plot(kind='pie')

In [ ]:
countries= df['country'].value_counts()
countries

In [ ]:
countries.plot(kind='bar')

## 6. Questions:

1- How many Columns in dataset

2- How many rows?

3- How many English, French, Arabic movies?

4- Movies with max number of votes?

5- Movies with max number of reviews?

6- How manyy movies per country? plot them

7- What is the mean number of reviews per movies?

8- Movies abbove mean number of reviews per movies?

9- Movies below the mean number of reviews per movies?

10- What is mean imdb score? how many movie above? below mean?

11- What is the best way to visualize imdb score for all movies

12- What is the best way to visualize Number of movies per country?

13- What is best way to visualize number of mmovies per years?

In [10]:
df.info

<bound method DataFrame.info of                                            title    year  color  \
0                                         Avatar  2009.0  Color
1       Pirates of the Caribbean: At World's End  2007.0  Color
2                                        Spectre  2015.0  Color
3                          The Dark Knight Rises  2012.0  Color
4     Star Wars: Episode VII - The Force Awakens     NaN    NaN
...                                          ...     ...    ...
4911                     Signed Sealed Delivered  2013.0  Color
4912                               The Following     NaN  Color
4913                        A Plague So Pleasant  2013.0  Color
4914                            Shanghai Calling  2012.0  Color
4915                           My Date with Drew  2004.0  Color

     content_rating  duration      director_name  director_fb  \
0             PG-13     178.0      James Cameron          0.0
1             PG-13     169.0     Gore Verbinski        563.0
2             PG-13     148.0         Sam Mendes          0.0
3             PG-13     164.0  Christopher Nolan      22000.0
4               NaN       NaN        Doug Walker        131.0
...             ...       ...                ...          ...
4911            NaN      87.0        Scott Smith          2.0
4912          TV-14      43.0                NaN          NaN
4913            NaN      76.0   Benjamin Roberds          0.0
4914          PG-13     100.0        Daniel Hsia          0.0
4915             PG      90.0           Jon Gunn         16.0

               actor1  actor1_fb            actor2  ...  actor3_fb  \
0         CCH Pounder     1000.0  Joel David Moore  ...      855.0
1         Johnny Depp    40000.0     Orlando Bloom  ...     1000.0
2     Christoph Waltz    11000.0      Rory Kinnear  ...      161.0
3           Tom Hardy    27000.0    Christian Bale  ...    23000.0
4         Doug Walker      131.0        Rob Walker  ...        NaN
...               ...        ...               ...  ...        ...
4911      Eric Mabius      637.0     Daphne Zuniga  ...      318.0
4912      Natalie Zea      841.0     Valorie Curry  ...      319.0
4913      Eva Boehnke        0.0     Maxwell Moody  ...        0.0
4914        Alan Ruck      946.0     Daniel Henney  ...      489.0
4915      John August       86.0  Brian Herzlinger  ...       16.0

            gross                           genres  num_reviews  \
0     760505847.0  Action|Adventure|Fantasy|Sci-Fi        723.0
1     309404152.0         Action|Adventure|Fantasy        302.0
2     200074175.0        Action|Adventure|Thriller        602.0
3     448130642.0                  Action|Thriller        813.0
4             NaN                      Documentary          NaN
...           ...                              ...          ...
4911          NaN                     Comedy|Drama          1.0
4912          NaN     Crime|Drama|Mystery|Thriller         43.0
4913          NaN            Drama|Horror|Thriller         13.0
4914      10443.0             Comedy|Drama|Romance         14.0
4915      85222.0                      Documentary         43.0

     num_voted_users                                      plot_keywords  \
0             886204             avatar|future|marine|native|paraplegic
1             471220  goddess|marriage ceremony|marriage proposal|pi...
2             275868                bomb|espionage|sequel|spy|terrorist
3            1144337  deception|imprisonment|lawlessness|police offi...
4                  8                                                NaN
...              ...                                                ...
4911             629             fraud|postal worker|prison|theft|trial
4912           73839       cult|fbi|hideout|prison escape|serial killer
4913              38                                                NaN
4914            1255                                                NaN
4915            4285  actress name in title|crush|date|four word tit...

      language country       budget imdb_score
0      English     USA  237000000.0        7.9
1      English     USA  300000000.0        7.1
2      English      UK  245000000.0        6.8
3      English     USA  250000000.0        8.5
4          NaN     NaN          NaN        7.1
...        ...     ...          ...        ...
4911   English  Canada          NaN        7.7
4912   English     USA          NaN        7.5
4913   English     USA       1400.0        6.3
4914   English     USA          NaN        6.3
4915   English     USA       1100.0        6.6

[4916 rows x 22 columns]>

In [12]:
df[:]

,title,year,color,content_rating,duration,director_name,director_fb,actor1,actor1_fb,actor2,...,actor3_fb,gross,genres,num_reviews,num_voted_users,plot_keywords,language,country,budget,imdb_score
0,Avatar,2009.0,Color,PG-13,178.0,James Cameron,0.0,CCH Pounder,1000.0,Joel David Moore,...,855.0,760505847.0,Action|Adventure|Fantasy|Sci-Fi,723.0,886204,avatar|future|marine|native|paraplegic,English,USA,237000000.0,7.9
1,Pirates of the Caribbean: At World's End,2007.0,Color,PG-13,169.0,Gore Verbinski,563.0,Johnny Depp,40000.0,Orlando Bloom,...,1000.0,309404152.0,Action|Adventure|Fantasy,302.0,471220,goddess|marriage ceremony|marriage proposal|pi...,English,USA,300000000.0,7.1
2,Spectre,2015.0,Color,PG-13,148.0,Sam Mendes,0.0,Christoph Waltz,11000.0,Rory Kinnear,...,161.0,200074175.0,Action|Adventure|Thriller,602.0,275868,bomb|espionage|sequel|spy|terrorist,English,UK,245000000.0,6.8
3,The Dark Knight Rises,2012.0,Color,PG-13,164.0,Christopher Nolan,22000.0,Tom Hardy,27000.0,Christian Bale,...,23000.0,448130642.0,Action|Thriller,813.0,1144337,deception|imprisonment|lawlessness|police offi...,English,USA,250000000.0,8.5
4,Star Wars: Episode VII - The Force Awakens,NaN,NaN,NaN,NaN,Doug Walker,131.0,Doug Walker,131.0,Rob Walker,...,NaN,NaN,Documentary,NaN,8,NaN,NaN,NaN,NaN,7.1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4911,Signed Sealed Delivered,2013.0,Color,NaN,87.0,Scott Smith,2.0,Eric Mabius,637.0,Daphne Zuniga,...,318.0,NaN,Comedy|Drama,1.0,629,fraud|postal worker|prison|theft|trial,English,Canada,NaN,7.7
4912,The Following,NaN,Color,TV-14,43.0,NaN,NaN,Natalie Zea,841.0,Valorie Curry,...,319.0,NaN,Crime|Drama|Mystery|Thriller,43.0,73839,cult|fbi|hideout|prison escape|serial killer,English,USA,NaN,7.5
4913,A Plague So Pleasant,2013.0,Color,NaN,76.0,Benjamin Roberds,0.0,Eva Boehnke,0.0,Maxwell Moody,...,0.0,NaN,Drama|Horror|Thriller,13.0,38,NaN,English,USA,1400.0,6.3
4914,Shanghai Calling,2012.0,Color,PG-13,100.0,Daniel Hsia,0.0,Alan Ruck,946.0,Daniel Henney,...,489.0,10443.0,Comedy|Drama|Romance,14.0,1255,NaN,English,USA,NaN,6.3
4915,My Date with Drew,2004.0,Color,PG,90.0,Jon Gunn,16.0,John August,86.0,Brian Herzlinger,...,16.0,85222.0,Documentary,43.0,4285,actress name in title|crush|date|four word tit...,English,USA,1100.0,6.6

In [16]:
len(df[:])

SyntaxError: invalid syntax (<ipython-input-16-802576d55b7e>, line 1)