## Importing Libraries

In [9]:
import numpy as np
import pandas as pd
from matplotlib import pyplot as plt
from matplotlib import style
import seaborn as sns
%matplotlib inline

# 1. Data Loading

In [10]:
df = pd.read_csv("Energy_and_Water_Data_Disclosure_for_Local_Law_84_2017__Data_for_Calendar_Year_2016_.csv")

`head()`, `describe()`, `info()`

[Remove this cell after you're done with it]

# 2. Exploratory Data Analysis

# 3. Data Cleaning

## 3.1. Removing Duplicates

## 3.2. Filtering Columns

## 3.3. Handling Outliers

## 3.4. Handling Missing Values

# 4. Explanatory Data Analysis

In [11]:

# new_NTA =np.where(df["NTA"].isnull(),df["NTA"].mean,df["NTA"])
# df["NTA"]=new_NTA
# new_CensusTract =np.where(df["Census Tract"].isnull(),df["Census Tract"].mean,df["Census Tract"])
# df["Census Tract"]=new_CensusTract
# new_CouncilDistrict =np.where(df["Council District"].isnull(),df["Council District"].mean,df["Council District"])
# df["Council District"]=new_CouncilDistrict
# new_CommunityBoard =np.where(df["Community Board"].isnull(),df["Community Board"].mean,df["Community Board"])
# df["Community Board"]=new_CommunityBoard
# new_Longitude =np.where(df["Longitude"].isnull(),df["Longitude"].mean,df["Longitude"])
# df["Longitude"]=new_Longitude
# new_Latitude =np.where(df["Latitude"].isnull(),df["Latitude"].mean,df["Latitude"])
# df["Latitude"]=new_Latitude
# new_StreetNumber =np.where(df["Street Number"].isnull(),df["Street Number"].mean,df["Street Number"])
# df["Street Number"]=new_StreetNumber
# new_StreetName =np.where(df["Street Name"].isnull(),df["Street Name"].mean,df["Street Name"])
# df["Street Name"]=new_StreetName
# new_Borough =np.where(df["Borough"].isnull(),df["Borough"].mean,df["Borough"])
# df["Borough"]=new_Borough
# new_DOFGrossFloorArea =np.where(df["DOF Gross Floor Area"].isnull(),df["DOF Gross Floor Area"].mean,df["DOF Gross Floor Area"])
# df["DOF Gross Floor Area"]=new_DOFGrossFloorArea
# new_WaterRequired =np.where(df["Water Required?"].isnull(),df["Water Required?"].mean,df["Water Required?"])
# df["Water Required?"]=new_WaterRequired
# new_BBL_10digits =np.where(df["BBL - 10 digits"].isnull(),df["BBL - 10 digits"].mean,df["BBL - 10 digits"])
# df["BBL - 10 digits"]=new_BBL_10digits


total = df.isnull().sum().sort_values(ascending=False)
percent_1 = df.isnull().sum()/df.isnull().count()*100
percent_2 = (round(percent_1, 1)).sort_values(ascending=False)
missing_data = pd.concat([total, percent_2], axis=1, keys=['Total', '%'])

missing_data.head(20)
# df.describe()

                                                  Total     %
NTA                                                2129  18.6
Census Tract                                       2129  18.6
Council District                                   2129  18.6
Community Board                                    2129  18.6
Longitude                                          2129  18.6
Latitude                                           2129  18.6
Street Number                                       121   1.1
Street Name                                         119   1.0
Borough                                             115   1.0
DOF Gross Floor Area                                115   1.0
Water Required?                                     107   0.9
BBL - 10 digits                                      12   0.1
Diesel #2 Use (kBtu)                                  1   0.0
Weather Normalized Site Natural Gas Use (therms)      1   0.0
Natural Gas Use (kBtu)                                1   0.0
District Steam Use (kBtu)                             1   0.0
Fuel Oil #4 Use (kBtu)                                1   0.0
Fuel Oil #5 & 6 Use (kBtu)                            1   0.0
Weather Normalized Site Electricity (kWh)             1   0.0
Fuel Oil #2 Use (kBtu)                                1   0.0

#  chosing wanted columns and drop na

In [12]:
# df = df[df.columns[[1, 24, 34, 35, 36, 37, 38, 40, 41, 42, 43, 47, 48, 50]]]
# df.drop_duplicates(inplace=True)
# df.dropna(inplace=True)

In [13]:
# for col in df.columns:
#    mean = pd.to_numeric(df[col], errors='coerce').mean()
#    df[col].replace('Not Available', mean)
# df.head(11)

In [14]:
df.columns

Index(['Order', 'Property Id', 'Property Name', 'Parent Property Id',
       'Parent Property Name', 'BBL - 10 digits',
       'NYC Borough, Block and Lot (BBL) self-reported',
       'NYC Building Identification Number (BIN)', 'Address 1 (self-reported)',
       'Address 2', 'Postal Code', 'Street Number', 'Street Name', 'Borough',
       'DOF Gross Floor Area', 'Primary Property Type - Self Selected',
       'List of All Property Use Types at Property',
       'Largest Property Use Type',
       'Largest Property Use Type - Gross Floor Area (ft²)',
       '2nd Largest Property Use Type',
       '2nd Largest Property Use - Gross Floor Area (ft²)',
       '3rd Largest Property Use Type',
       '3rd Largest Property Use Type - Gross Floor Area (ft²)', 'Year Built',
       'Number of Buildings - Self-reported', 'Occupancy',
       'Metered Areas (Energy)', 'Metered Areas  (Water)', 'ENERGY STAR Score',
       'Site EUI (kBtu/ft²)', 'Weather Normalized Site EUI (kBtu/ft²)',
       'Weather Normalized Site Electricity Intensity (kWh/ft²)',
       'Weather Normalized Site Natural Gas Intensity (therms/ft²)',
       'Weather Normalized Source EUI (kBtu/ft²)', 'Fuel Oil #1 Use (kBtu)',
       'Fuel Oil #2 Use (kBtu)', 'Fuel Oil #4 Use (kBtu)',
       'Fuel Oil #5 & 6 Use (kBtu)', 'Diesel #2 Use (kBtu)',
       'District Steam Use (kBtu)', 'Natural Gas Use (kBtu)',
       'Weather Normalized Site Natural Gas Use (therms)',
       'Electricity Use - Grid Purchase (kBtu)',
       'Weather Normalized Site Electricity (kWh)',
       'Total GHG Emissions (Metric Tons CO2e)',
       'Direct GHG Emissions (Metric Tons CO2e)',
       'Indirect GHG Emissions (Metric Tons CO2e)',
       'Property GFA - Self-Reported (ft²)',
       'Water Use (All Water Sources) (kgal)',
       'Water Intensity (All Water Sources) (gal/ft²)',
       'Source EUI (kBtu/ft²)', 'Release Date', 'Water Required?',
       'DOF Benchmarking Submission Status', 'Latitude', 'Longitude',
       'Community Board', 'Council District', 'Census Tract', 'NTA'],
      dtype='object')

# change Not Available to zero

In [15]:
for col in df.columns: 
    new =np.where(df[col]=="Not Available",0,df[col]) 
    df[col]=new
df.head(11)

,Order,Property Id,Property Name,Parent Property Id,Parent Property Name,BBL - 10 digits,"NYC Borough, Block and Lot (BBL) self-reported",NYC Building Identification Number (BIN),Address 1 (self-reported),Address 2,...,Source EUI (kBtu/ft²),Release Date,Water Required?,DOF Benchmarking Submission Status,Latitude,Longitude,Community Board,Council District,Census Tract,NTA
0,1,13286,201/205,13286,201/205,1013160001,1013160001,1037549,201/205 East 42nd st.,0,...,619.4,05/01/2017 05:32:03 PM,No,In Compliance,40.750791,-73.973963,6.0,4.0,88.0,Turtle Bay-East Midtown ...
1,2,28400,NYP Columbia (West Campus),28400,NYP Columbia (West Campus),1021380040,1-02138-0040,1084198; 1084387;1084385; 1084386; 1084388; 10...,622 168th Street,0,...,404.3,04/27/2017 11:23:27 AM,No,In Compliance,40.841402,-73.942568,12.0,10.0,251.0,Washington Heights South ...
2,3,4778226,MSCHoNY North,28400,NYP Columbia (West Campus),1021380030,1-02138-0030,1063380,3975 Broadway,0,...,0,04/27/2017 11:23:27 AM,No,In Compliance,40.840427,-73.940249,12.0,10.0,251.0,Washington Heights South ...
3,4,4778267,Herbert Irving Pavilion & Millstein Hospital,28400,NYP Columbia (West Campus),1021390001,1-02139-0001,1087281; 1076746,161 Fort Washington Ave,177 Fort Washington Ave,...,0,04/27/2017 11:23:27 AM,No,In Compliance,40.840746,-73.942854,12.0,10.0,255.0,Washington Heights South ...
4,5,4778288,Neuro Institute,28400,NYP Columbia (West Campus),1021390085,1-02139-0085,1063403,710 West 168th Street,0,...,0,04/27/2017 11:23:27 AM,No,In Compliance,40.841559,-73.942528,12.0,10.0,255.0,Washington Heights South ...
5,6,28402,NYP Cornell (East Campus),28402,NYP Cornell (East Campus),1014800001,1-01480-0001,1084781; 1084780,525 East 68th Street,0,...,414.2,04/27/2017 11:23:27 AM,No,In Compliance,40.761395,-73.957726,8.0,5.0,116.0,Lenox Hill-Roosevelt Island ...
6,7,4778352,Annex Building & Garage,28402,NYP Cornell (East Campus),1014820040,1-01482-0040,1081252,523 East 70th St,515 East 70th St,...,0,04/27/2017 11:23:27 AM,Yes,In Compliance,40.765949,-73.953752,8.0,5.0,124.0,Lenox Hill-Roosevelt Island ...
7,10,2610789,North Shore Towers,2610789,North Shore Towers,4084890001,4084890001,4456886;4456885;4453535;4456888,270-10 Grand Central Parkway,269-271-10 Grand Central Parkway,...,151172.9,04/28/2017 07:44:37 AM,Yes,In Compliance,40.757859,-73.715543,13.0,23.0,155101.0,Glen Oaks-Floral Park-New Hyde Park ...
8,11,2611745,Towers Golf Course and Irrigation Wells,2610789,North Shore Towers,4084890001,4084890001,4456888,272-86 Grand Central Parkway,0,...,3574.2,04/28/2017 07:44:37 AM,Yes,In Compliance,40.757859,-73.715543,13.0,23.0,155101.0,Glen Oaks-Floral Park-New Hyde Park ...
9,12,3616379,North Shore Towers Bld 1,2610789,North Shore Towers,4084890001,4084890001,4456886,271-10 Grand Central Parkway,0,...,0,04/28/2017 07:44:37 AM,Yes,In Compliance,40.757859,-73.715543,13.0,23.0,155101.0,Glen Oaks-Floral Park-New Hyde Park ...
10,13,5870374,North Shore Towers Bld 2,2610789,North Shore Towers,4084890001,4084890001,4456885,270-10 Grand Central Parkway,0,...,0,04/28/2017 07:44:37 AM,Yes,In Compliance,40.757859,-73.715543,13.0,23.0,155101.0,Glen Oaks-Floral Park-New Hyde Park ...

# change type of colums

<!-- change type of colums -->

In [16]:
for col in df.columns:
    df[col]=df[col].astype(float)

ValueError: could not convert string to float: '201/205'

# compine multi colums

In [17]:
columns_to_sum = ['Fuel Oil #1 Use (kBtu)', 'Fuel Oil #2 Use (kBtu)', 'Fuel Oil #4 Use (kBtu)','Fuel Oil #5 & 6 Use (kBtu)', 'Diesel #2 Use (kBtu)', 'Natural Gas Use (kBtu)','Electricity Use - Grid Purchase (kBtu)']
df['Total Energy'] = (df['Weather Normalized Site Natural Gas Use (therms)'] * 100) + (df['Weather Normalized Site Electricity (kWh)'] * 3.4121424501) + (df[columns_to_sum].sum(axis=1))

TypeError: can't multiply sequence by non-int of type 'float'

In [18]:
df['Total Energy']
# df.columns

KeyError: 'Total Energy'