In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
%matplotlib inline
from matplotlib import pyplot as plt
from matplotlib import style
from sklearn import linear_model
from sklearn.linear_model import LogisticRegression
from sklearn.linear_model import LinearRegression
from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import Perceptron
from sklearn.linear_model import SGDClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.svm import SVC, LinearSVC
from sklearn.naive_bayes import GaussianNB
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeRegressor
from sklearn.metrics import mean_absolute_error
from sklearn.metrics import r2_score
df = pd.read_csv("E:\Moaaz\class-4-ml\Energy_and_Water_Data_Disclosure_for_Local_Law_84_2017__Data_for_Calendar_Year_2016_.csv")

# convert null to mean

In [2]:

# new_NTA =np.where(df["NTA"].isnull(),df["NTA"].mean,df["NTA"])
# df["NTA"]=new_NTA
# new_CensusTract =np.where(df["Census Tract"].isnull(),df["Census Tract"].mean,df["Census Tract"])
# df["Census Tract"]=new_CensusTract
# new_CouncilDistrict =np.where(df["Council District"].isnull(),df["Council District"].mean,df["Council District"])
# df["Council District"]=new_CouncilDistrict
# new_CommunityBoard =np.where(df["Community Board"].isnull(),df["Community Board"].mean,df["Community Board"])
# df["Community Board"]=new_CommunityBoard
# new_Longitude =np.where(df["Longitude"].isnull(),df["Longitude"].mean,df["Longitude"])
# df["Longitude"]=new_Longitude
# new_Latitude =np.where(df["Latitude"].isnull(),df["Latitude"].mean,df["Latitude"])
# df["Latitude"]=new_Latitude
# new_StreetNumber =np.where(df["Street Number"].isnull(),df["Street Number"].mean,df["Street Number"])
# df["Street Number"]=new_StreetNumber
# new_StreetName =np.where(df["Street Name"].isnull(),df["Street Name"].mean,df["Street Name"])
# df["Street Name"]=new_StreetName
# new_Borough =np.where(df["Borough"].isnull(),df["Borough"].mean,df["Borough"])
# df["Borough"]=new_Borough
# new_DOFGrossFloorArea =np.where(df["DOF Gross Floor Area"].isnull(),df["DOF Gross Floor Area"].mean,df["DOF Gross Floor Area"])
# df["DOF Gross Floor Area"]=new_DOFGrossFloorArea
# new_WaterRequired =np.where(df["Water Required?"].isnull(),df["Water Required?"].mean,df["Water Required?"])
# df["Water Required?"]=new_WaterRequired
# new_BBL_10digits =np.where(df["BBL - 10 digits"].isnull(),df["BBL - 10 digits"].mean,df["BBL - 10 digits"])
# df["BBL - 10 digits"]=new_BBL_10digits


total = df.isnull().sum().sort_values(ascending=False)
percent_1 = df.isnull().sum()/df.isnull().count()*100
percent_2 = (round(percent_1, 1)).sort_values(ascending=False)
missing_data = pd.concat([total, percent_2], axis=1, keys=['Total', '%'])

missing_data.head(20)
# df.describe()

                                                  Total     %
NTA                                                2129  18.6
Census Tract                                       2129  18.6
Council District                                   2129  18.6
Community Board                                    2129  18.6
Longitude                                          2129  18.6
Latitude                                           2129  18.6
Street Number                                       121   1.1
Street Name                                         119   1.0
Borough                                             115   1.0
DOF Gross Floor Area                                115   1.0
Water Required?                                     107   0.9
BBL - 10 digits                                      12   0.1
Diesel #2 Use (kBtu)                                  1   0.0
Weather Normalized Site Natural Gas Use (therms)      1   0.0
Natural Gas Use (kBtu)                                1   0.0
District Steam Use (kBtu)                             1   0.0
Fuel Oil #4 Use (kBtu)                                1   0.0
Fuel Oil #5 & 6 Use (kBtu)                            1   0.0
Weather Normalized Site Electricity (kWh)             1   0.0
Fuel Oil #2 Use (kBtu)                                1   0.0

#  chosing wanted columns and drop na

In [3]:
# df = df[df.columns[[1, 24, 34, 35, 36, 37, 38, 40, 41, 42, 43, 47, 48, 50]]]
# df.drop_duplicates(inplace=True)
# df.dropna(inplace=True)

In [4]:
# for col in df.columns:
#    mean = pd.to_numeric(df[col], errors='coerce').mean()
#    df[col].replace('Not Available', mean)
# df.head(11)

In [5]:
df.columns

Index(['Property Id', 'Number of Buildings - Self-reported',
       'Fuel Oil #1 Use (kBtu)', 'Fuel Oil #2 Use (kBtu)',
       'Fuel Oil #4 Use (kBtu)', 'Fuel Oil #5 & 6 Use (kBtu)',
       'Diesel #2 Use (kBtu)', 'Natural Gas Use (kBtu)',
       'Weather Normalized Site Natural Gas Use (therms)',
       'Electricity Use - Grid Purchase (kBtu)',
       'Weather Normalized Site Electricity (kWh)',
       'Property GFA - Self-Reported (ft²)',
       'Water Use (All Water Sources) (kgal)', 'Source EUI (kBtu/ft²)'],
      dtype='object')

# change Not Available to zero

In [6]:
for col in df.columns: 
    new =np.where(df[col]=="Not Available",0,df[col]) 
    df[col]=new
df.head(11)

,Property Id,Number of Buildings - Self-reported,Fuel Oil #1 Use (kBtu),Fuel Oil #2 Use (kBtu),Fuel Oil #4 Use (kBtu),Fuel Oil #5 & 6 Use (kBtu),Diesel #2 Use (kBtu),Natural Gas Use (kBtu),Weather Normalized Site Natural Gas Use (therms),Electricity Use - Grid Purchase (kBtu),Weather Normalized Site Electricity (kWh),Property GFA - Self-Reported (ft²),Water Use (All Water Sources) (kgal),Source EUI (kBtu/ft²)
0,13286,2.0,0,0,0,0,0,0,0,38139374.2,1.10827705E7,762051.0,0,619.4
1,28400,12.0,0,1.96248472E7,0,0,0,933073441,9330734.4,332365924,9.62613121E7,3889181.0,0,404.3
2,4778226,1.0,0,0,0,0,0,0,0,0,0,231342.0,0,0
3,4778267,1.0,0,0,0,0,0,0,0,0,0,1305748.0,0,0
4,4778288,1.0,0,0,0,0,0,0,0,0,0,179694.0,0,0
5,28402,12.0,0,2.00832154E7,0,0,0,1.4322508769E9,1.43225088E7,86335350.5,2.45508594E7,2971874.0,0,414.2
6,4778352,1.0,0,0,0,0,0,0,0,0,0,245000.0,0,0
7,2610789,4.0,0,1.37367028E7,0,0,0,394285242148,3.9428524215E9,0,0,2738875.0,107151.5,151172.9
8,2611745,1.0,0,0,0,0,0,0,0,227658.1,63979.9,200.0,19261.1,3574.2
9,3616379,1.0,0,0,0,0,0,0,0,0,0,912892.0,0,0
10,5870374,1.0,0,0,0,0,0,0,0,0,0,912892.0,0,0

# change type of colums

<!-- change type of colums -->

In [7]:
for col in df.columns:
    df[col]=df[col].astype(float)

# compine multi colums

In [8]:
columns_to_sum = ['Fuel Oil #1 Use (kBtu)', 'Fuel Oil #2 Use (kBtu)', 'Fuel Oil #4 Use (kBtu)','Fuel Oil #5 & 6 Use (kBtu)', 'Diesel #2 Use (kBtu)', 'Natural Gas Use (kBtu)','Electricity Use - Grid Purchase (kBtu)']
df['Total Energy'] = (df['Weather Normalized Site Natural Gas Use (therms)'] * 100) + (df['Weather Normalized Site Electricity (kWh)'] * 3.4121424501) + (df[columns_to_sum].sum(axis=1))

In [9]:
df['Total Energy']
# df.columns

0        7.595537e+07
1        2.546595e+09
2        0.000000e+00
3        0.000000e+00
4        0.000000e+00
             ...
11429    1.499151e+07
11430    1.367658e+07
11431    3.091389e+07
11432    9.014762e+06
11433    6.455249e+06
Name: Total Energy, Length: 11434, dtype: float64

# splitting the data

In [10]:
train, test = train_test_split(df, test_size=0.2)

In [11]:
Y_features=['Water Use (All Water Sources) (kgal)','Total Energy']

In [12]:
Y= train[Y_features]

In [13]:
X_features=['Number of Buildings - Self-reported','Property GFA - Self-Reported (ft²)','Source EUI (kBtu/ft²)']
X= train[X_features]

In [14]:
model = DecisionTreeRegressor(random_state=1)
model.fit(X,Y)

DecisionTreeRegressor(random_state=1)

In [15]:
print("Making predictions for the following 5 houses:")
print(X.head())
print("The predictions are")
print(model.predict(X.head()))
print(Y.head())

Making predictions for the following 5 houses:
      Number of Buildings - Self-reported  Property GFA - Self-Reported (ft²)  \
7525                                  1.0                            147352.0
8322                                  1.0                             82448.0
3137                                  1.0                            356686.0
7138                                  1.0                             80844.0
7150                                  1.0                             69851.0

      Source EUI (kBtu/ft²)
7525                  105.2
8322                  128.4
3137                  174.7
7138                  145.7
7150                   20.1
The predictions are
[[0.00000000e+00 2.29303499e+07]
 [4.62070000e+03 1.61964664e+07]
 [5.91930000e+03 3.58512938e+07]
 [6.04460000e+03 4.01463240e+06]
 [3.40700000e+02 2.42903222e+06]]
      Water Use (All Water Sources) (kgal)  Total Energy
7525                                   0.0  2.293035e+07
8322                                4620.7  1.619647e+07
3137                                5919.3  3.585129e+07
7138                                6044.6  4.014632e+06
7150                                 340.7  2.429032e+06

In [16]:
X_test_features=['Number of Buildings - Self-reported','Property GFA - Self-Reported (ft²)','Source EUI (kBtu/ft²)']
X_test = test [X_test_features]
Y_test_features=['Water Use (All Water Sources) (kgal)','Total Energy']
Y_test= test[Y_test_features]

print("The predictions are")
Y_pre=model.predict(X_test)

The predictions are

In [17]:
print("MAE=", mean_absolute_error(Y_test,Y_pre))

MAE= 6217874.230197156

In [18]:
print("MAE=", r2_score(Y_test,Y_pre))

MAE= -0.8993953909399489